.nav ul {
  display: flex;
  justify-content: center;
  li{
    box-sizing: border-box;
    width: 69px;
    height: 46px;
    text-align: center;
    list-style: none;
    padding: 12px 16px;
    background-color: #fff;
  }
}