---
import {Languages} from '../mock/languages.json'
import {shortCuts} from '../mock/shortCuts.json'
import '../styles/footer.scss'
---
<footer class="footer">
  <section class="footer-languages">
    <ul>
      {
        Languages.map(item => (
          <li><a href="">{item.Language}</a></li>
        ))
      }
      <li class="button"> + </li>
    </ul>
  </section>
  <section class="footer-shortcuts">
    <ul>
      {
        shortCuts.map(item => (
          <li><a href="">{item.shortcut}</a></li>
        ))
      }
    </ul>
  </section>
  <p class="copy"> Meta &copy 2024</p>
  
</footer>