---
// Script
import '../styles/header.scss'
---

<header class="index">
	<section class="index-welcome">
		<h1>facebook</h1>
		<p> Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida. </p>
	</section>
	<!-- HACE UN COMPONENTE DEL FORMULARIO -->
	<form class="index-form" action="">
		<input type="text" placeholder="Correo electrónico o número de teléfono">
		<input type="password" placeholder="Contraseña">
		<button> Iniciar sesíon</button>
		<p>¿Has olvidad la contraseña?</p>
		<button> Crear cuenta nueva</button>
	</form>
	<!-- <p><span>Crear una página</span> para un famoso, una marca o una empresa.</p> -->
</header>

