---
// Script
import '../styles/header.scss'
---

<header class="index">
	<section class="index-welcome">
		<h1>facebook</h1>
		<p> Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida. </p>
	</section>
	<!-- HACE UN COMPONENTE DEL FORMULARIO -->
	<section class="index-section-form">
		<form class="index-form" action="">
			<input type="text" placeholder="Correo electrónico o número de teléfono">
			<input type="password" placeholder="Contraseña">
			<button class="button button-login"> Iniciar sesíon</button>
			<div class="forget-password">
				<a href=""> ¿Has olvidad la contraseña?</a>
			</div>
			<button class="button button-register"> Crear cuenta nueva</button>
		</form>
		<div class="form-footer">
			<p><a href=""> Crear una página</a>
			para un famoso, una marca o una empresa.</p>
		</div>
	</section>
	<!-- <p><span>Crear una página</span> para un famoso, una marca o una empresa.</p> -->
</header>

