---
import { Icon } from 'astro-icon/components'

import Nav from "./Nav.astro"
import History from "./History.astro"
import "../styles/home.scss"
---
<header class="home-header">
  <section class="head">
    <h1>facebook</h1>
    <div class="setting">
      <Icon name="search-line" />
      <div>menu</div>
    </div>
    </section>
  <Nav />
  <section class="update-state">
    <div class="img-state">
      <div class="state"></div>
    </div>
    <input type="text" placeholder="Publica una actualización de estado">
    <div class="image">FOTO</div>
  </section>
  <History />
</header>