<main class="post">
    <section class="publisher">
        <img src="" alt="foto-perfil">
        <div>
            <h2>Person-Name</h2>
            <p> fecha </p>
        </div>
        <button>
            Seguir
        </button>
    </section>
    <section class="config">

    </section>
</main>